section
    .container.cont-feedback
        h3.feedback-title Отзывы:
        .feedback-items
            .feedback-item.feedback-item_active
                .feedback__img-wrapper
                    img(class="feedback__img-img" src="/assets/img/avatar3.png" alt="")
                .feedback__content
                    h3.feedback__title Валерия Антонова
                    span.feedback__position Арт-директор
                    .feedback__wrapper-svg
                        include ../../../assets/img/stars.svg
                        
                        .feedback__summary
                            include ../../../assets/img/VectorComplit.svg
                            span Супер! Я бы заказала съемку снова!

                    p.feedback__area Хотим выразить огромную благодарность вашей компании! Получили море ощущений, все прошло просто замечательно. Фотки получились великолепные, отдельное спасибо фотографу!

                    span.feedback__data 27 Апреля, 2019г.

            .feedback-item.feedback-item_active
                .feedback__img-wrapper
                    img(class="feedback__img-img" src="/assets/img/avatar4.png" alt="")
                .feedback__content
                    h3.feedback__title Виталий Петров
                    span.feedback__position Фотограф
                    .feedback__wrapper-svg
                        include ../../../assets/img/stars.svg
                        
                        .feedback__summary
                            include ../../../assets/img/VectorComplit.svg
                            span Супер! Я бы заказал съемку снова!

                    p.feedback__area Восторг! :) Очень понравилось :) Захватили последний теплый, солнечный октябрьский день :) Впечатлило всё: сам вертолет, взлет, полёт, приземление. Организация полёта отличная. Спасибо!

                    span.feedback__data 19 Апреля, 2019г.

            .feedback-item.feedback-item_active
                .feedback__img-wrapper
                    img(class="feedback__img-img" src="/assets/img/avatar5.png" alt="")
                .feedback__content
                    h3.feedback__title Джим Керри
                    span.feedback__position Фотограф
                    .feedback__wrapper-svg
                        include ../../../assets/img/stars.svg
                        
                        .feedback__summary
                            include ../../../assets/img/VectorComplit.svg
                            span Супер! Я бы заказал съемку снова!

                    p.feedback__area Круто-круто-круто!!! Отмечали мой ДэРэ. Отлично провели время!!! Кстати закуски были вкусными и сытными))Мы с собой ничего не брали. Сами много фоткались,поэтому воспоминания обалденные!!!)) А еще нам всем напечатали по сертификату воздухоплавателя, правда некоторые ленятся за ним съездить))) Но все равно приятно. Короче, Презентстар – проверено. Оценка: пять!

                    span.feedback__data 11 Апреля, 2019г.
                    
            .feedback-item     
                .feedback__img-wrapper
                    img(class="feedback__img-img" src="/assets/img/avatar3.png" alt="")
                .feedback__content
                    h3.feedback__title Валерия Антонова
                    span.feedback__position Арт-директор
                    .feedback__wrapper-svg
                        include ../../../assets/img/stars.svg
                        
                        .feedback__summary
                            include ../../../assets/img/VectorComplit.svg
                            span Супер! Я бы заказала съемку снова!

                    p.feedback__area Хотим выразить огромную благодарность вашей компании! Получили море ощущений, все прошло просто замечательно. Фотки получились великолепные, отдельное спасибо фотографу!

                    span.feedback__data 27 Апреля, 2019г.

            .feedback-item
                .feedback__img-wrapper
                    img(class="feedback__img-img" src="/assets/img/avatar4.png" alt="")
                .feedback__content
                    h3.feedback__title Виталий Петров
                    span.feedback__position Фотограф
                    .feedback__wrapper-svg
                        include ../../../assets/img/stars.svg
                        
                        .feedback__summary
                            include ../../../assets/img/VectorComplit.svg
                            span Супер! Я бы заказал съемку снова!

                    p.feedback__area Восторг! :) Очень понравилось :) Захватили последний теплый, солнечный октябрьский день :) Впечатлило всё: сам вертолет, взлет, полёт, приземление. Организация полёта отличная. Спасибо!

                    span.feedback__data 19 Апреля, 2019г.
        .button__toggle-showAll
            .button-arrow.arrow_feedback
                include ../../../assets/img/Arrow2.svg
            span#btn-show-fb Показать все 
            .button-arrow.arrow_feedback
                include ../../../assets/img/Arrow2.svg            
        