footer
  .container.footer-container
    .footer__wrapper_white
      .footer__logo
        a.footer__loggo-link(href="#")
            include ../../../assets/img/HalyLogo.svg
      .footer__social
        a.social__link(href="#")
          include ../../../assets/img/vk.svg
        a.social__link(href="#")
          include ../../../assets/img/Facebook.svg
        a.social__link(href="#")
          include ../../../assets/img/Instragram.svg
        a.social__link(href="#")
          include ../../../assets/img/RU.svg
    .footer__wrapper_grey
      .pay-copyright
        .pay__wrapper-img
          img(src="/assets/img/MC.png" alt="mc")
          img(src="/assets/img/VISA.png" alt="visa")
        p.copyright Тех. поддержка: 8(800)700-00-00 © 2018 HELYFLY. All Rights Reserved.
        .cascade

