section
    .container.gallery-container
        h3.gallery__title Фотографии пакета:
        .gallery__items
            span.prev-btn ←
            span.next-btn →
            .gallery__item.item-active
                img(class="gallery__item-img" src="/assets/img/17741.png" alt="")
            .gallery__item.item-active
                img(class="gallery__item-img" src="/assets/img/first.png" alt="")
            .gallery__item.item-active
                img(class="gallery__item-img" src="/assets/img/second.png" alt="")
            .gallery__item.item-active
                img(class="gallery__item-img" src="/assets/img/third.png" alt="")
            .gallery__item.item-active
                img(class="gallery__item-img" src="/assets/img/second.png" alt="")
            .gallery__item.item-active
                img(class="gallery__item-img" src="/assets/img/third.png" alt="")
            .gallery__item.item-active
                img(class="gallery__item-img" src="/assets/img/first.png" alt="")
            .gallery__item.item-active
                img(class="gallery__item-img" src="/assets/img/17741.png" alt="")
            .gallery__item
                img(class="gallery__item-img" src="/assets/img/17741.png" alt="")
            .gallery__item
                img(class="gallery__item-img" src="/assets/img/first.png" alt="")
            .gallery__item
                img(class="gallery__item-img" src="/assets/img/second.png" alt="")
            .gallery__item
                img(class="gallery__item-img" src="/assets/img/third.png" alt="")
        .button__toggle-showAll.imgToggle
            .button-arrow.arrow_gallery
                include ../../../assets/img/Arrow2.svg
            span#btn-show Показать все фото
            .button-arrow.arrow_gallery
                include ../../../assets/img/Arrow2.svg