section
    .hero(style="background-image: url('assets/img/helimain.png')")
        .container.hero-container
            .hero__content
                h3.hero__title  Эксклюзивная  
                    a.hero__title-link фотосессия
                    |  при полете на вертолете
                .banner
                    .banner__img-wrapper
                        img(class="banner__background" src="assets/img/Rectangle.png" alt="banner")
                    .banner__info
                        .banner__text
                            p.banner__price Стоимость:
                            span.banner__value 1500₽
                        .banner__symbol
                            span %
                a(class="btn hero__btn" id="modal-btn") Забронировать место

            