widget.map
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A126dd25de239f251ceff4525e5e6d48ab7eb782399431ef876719104a0a0d59c&amp;source=constructor" width="100%" height="500" ></iframe>
    .container.container-map
        .map__card-info
            a.prev &#10094;
            a.next &#10095;
            
            .map__info-item.map__slide
                .card-info__wrapper-icon
                    span.card-info__icon 1
                .card-info__text
                    span.card-info__top-text Где встречаемся?
                    span.card-info__bottom-text Москва
            .map__info-item.map__slide
                .card-info__wrapper-icon
                    span.card-info__icon 2
                .card-info__text
                    span.card-info__top-text Время съемки
                    span.card-info__bottom-text 3 часа
            .map__info-item.map__slide
                .card-info__wrapper-icon
                    span.card-info__icon 3
                .card-info__text
                    span.card-info__top-text Мест осталось:
                    span.card-info__bottom-text 2 места
            .card__dots
                span.dot
                span.dot
                span.dot
            .map__info-item
                .card-info__wrapper-avatar
                    img(class="card-info__img" src="/assets/img/Ellipse.png" alt="")
                .card-info__text-avatar
                    span.card-text__title Мария Иванова
                    span.card-text__position Фотограф
                    a.card-text__link(href="#") Показать больше информации 

                
