section
    .container.cont-sessions
        .sessions
            h3.sessions__title Доступная съемка в ближайшее время:
            .sessions__info
                .sessions__data
                    .sessions__data-group
                        span.sessions__data-text Пятница, 14 сентября
                        .sessions__data-icon
                            include ../../../assets/img/Rectangle124.svg
                    .sessions-item
                        .sessions-item__info
                            span.sessions-item__time 15:00 - 18:00
                            span.sessions-item__price 1500₽
                            span.sessions-item__slot Осталось — 1 место
                        a.btn.sessions-item__btn(href="#") Выбрать
                    .sessions-item
                        .sessions-item__info
                            span.sessions-item__time 19:00 - 22:00
                            span.sessions-item__price 1500₽
                            span.sessions-item__slot Осталось — 1 место
                        a.btn.sessions-item__btn(href="#") Выбрать
                    .feedback
                        .feedback__img-wrapper
                            include ../../../assets/img/Group10.svg
                        span.feedback__text Более 50 отзывов с оценкой
                        .feedback__img-wrapper
                            include ../../../assets/img/stars.svg


                            
